body{
	background-image: url("../images/B8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#form{
	position:relative;
	left:35%;
	
} 
 h1{
	font-size:40px;
	text-align: center;
	color:white;
	text-shadow: 0 0 10px red;
	/* position:relative;
	top:60px;
	 */
}table td{
	font-size:25px;
	color:white;
	padding:5px;
	text-align: center;
}.table {
	width: 60%;
	position: relative;
	left:200px;
	border-color: white;
	border-radius:15px;
}  .color {
	font-size: 20px;
	color: white;
}th {
	font-size: 26px;
}
input[type="submit"] {
	font-size: 10px;
	padding:5px;
}
span{
	color:white;
	font-size:20px;
}
td->a:hover{
	color:white;
}